<div class="container">
  <img src="assets/images/hotels/{{data.image}}" alt="">
  <div class="info">
    <span>{{ data.name }}</span>
    <div class="stars" *ngIf="data.stars == 1">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars" *ngIf="data.stars == 2">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars" *ngIf="data.stars == 3">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars" *ngIf="data.stars == 4">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars" *ngIf="data.stars == 5">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="amenities">
      <img *ngFor="let amenitie of data.amenities" 
            src="assets/icons/amenities/{{amenitie}}.svg" title="{{amenitie}}" alt="">
    </div>
  </div>
  <div class="price-info">
    <span class="text">Precio por noche por habitación</span>
    <p class="price">ARS <span class="ars">{{ data.price }}</span></p>
    <button>Ver Hotel</button>
  </div>
</div>