.container {
    width: 100%;
    height: 12em;
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    img {
        padding: 10px;
        width: 30%;
    }
    .info {
        width: 40%;
        padding: 10px 0;
        border-right: 1px dashed #3480A8;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        span {
            color: #3480A8;
            font-size: 1.2em;
            padding: 0 10px;
            font-weight: bold;
        }
        .stars {
            display: flex;
            flex-direction: row;
            img {
                height: 20px;
                width: 20px;
            }
        }
        .amenities {
            display: flex;
            flex-direction: row;
            img {
                height: 25px;
                width: 25px;
            }
        }
    }
    .price-info {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        span.text {
            font-size: .7em;
            color: #878787;
        }
        p.price {
            font-size: 1.2em;
            color: #CE7126;
            .ars {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
        button {
            width: 80%;
            margin: 0 auto;
            height: 3em;
            cursor: pointer;
            color: white;
            border: none;
            border-radius: 5px;
            background-color: #012C73;
        }
    }
}

@media only screen and (max-width: 575px) {
    .container {
        flex-direction: column;
        height: auto;
        

        img {
            width: 95%;
            padding: 5px;
        }

        .info {
            width: 100%;
            border-right: none;
            border-bottom: 2px dashed #3480A8;
        }

        .price-info {
            width: 100%;
            span.text {
                margin: 1em;
            }
            p.price {
                margin: .5em;
            }
            button {
                width: 90%;
                margin: 0 auto 1em auto;
            }
        }
    }



}