<div class="title-container">
  <h3>Filtros</h3>
</div>
<div class="separator"></div>
<div class="name-container">
  <div class="name-top">
    <img src="assets/icons/filters/search.svg" alt="">
    <span>Nombre de hotel</span>
    <div id="triangle-up"></div>
  </div>
  <div class="name-bottom">
    <input type="text" placeholder="Ingrese el nombre del ho" name="hotelname" [(ngModel)]="hotelName">
    <button (click)="getFilteredHotels()">Aceptar</button>
  </div>
</div>
<div class="separator"></div>
<div class="stars-container">
  <div class="stars-top">
    <img src="assets/icons/filters/star.svg" alt="">
    <span>Estrellas</span>
    <div id="triangle-up"></div>
  </div>
  <div class="stars-bottom">
    <div class="stars">
      <input type="radio" name="stars" [value]="0" [(ngModel)]="hotelStars">
      <span>Todas las estrellas</span>
    </div>
    <div class="stars">
      <input type="radio" name="stars" [value]="5" [(ngModel)]="hotelStars">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars">
      <input type="radio" name="stars" [value]="4" [(ngModel)]="hotelStars">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars">
      <input type="radio" name="stars" [value]="3" [(ngModel)]="hotelStars">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars">
      <input type="radio" name="stars" [value]="2" [(ngModel)]="hotelStars">
      <img src="assets/icons/filters/star.svg" alt="">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
    <div class="stars">
      <input type="radio" name="stars" [value]="1" [(ngModel)]="hotelStars">
      <img src="assets/icons/filters/star.svg" alt="">
    </div>
  </div>
</div>
