.title-container {
    height: 10%;
    width: 100%;
    background-color: white;
    h3 {
        padding: 10px;
        color: #656565;
        font-weight: 800;
    }
}

.separator {
    width: 100%;
    height: .2em;
    background-color: #F4F4F4;
}

.name-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #458BB4;
    padding: 5px;
    .name-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img {
            width: 15px;
            height: 15px;
        }
    }
    .name-bottom {
        width: 100%;
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        input {
            height: 2em;
            width: 60%;
            margin: .3em;
        }
        button {
            height: 2em;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 2px;
            width: 25%;
            margin-right: .3em;
            background-color: #012C73;
        }
    }
    #triangle-up {
        width: 0;
        height: 0;
        margin-right: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #458BB4;
    }
}

.stars-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #458BB4;
    padding: 5px;
    .stars-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        img {
            width: 15px;
            height: 15px;
        }
    }
    #triangle-up {
        width: 0;
        height: 0;
        margin-right: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #458BB4;
    }

    .stars-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        .stars {
            margin-top: 1em; 
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            img {
                width: 15px;
                height: 15px;
                margin: 0 2px;
            }
            span {
                margin: 0 10px;
            }
        }
    }
}