header {
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #093B7A;
    width: 100%;
}

section.main-container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    filters {
        margin: 0 .5em 0 1em;
        width: 20%;
        max-height: 30%;
        height: auto;
    }
    .hotels-container {
        margin-right: 1em;
        width: 75%;
        display: flex;
        flex-direction: column;
        hotel {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        min-height: 100%;
        .hotels-container {
            margin: 0 auto !important;
            width: 95% !important;
        }
    }
    filters {
        width: 95% !important;
        margin: 0 auto 1em auto !important;
    }
}