<header>
  <img src="assets/images/logo-almundo.svg" alt="AlMundo">
</header>
<section class="main-container">
  <filters
    (filter)="filterHotels($event)">
  </filters>
  <div class="hotels-container" *ngIf="hotels.length > 0">
    <hotel *ngFor="let hotel of hotels"
      [data]="hotel">
    </hotel>
  </div>
  <div class="hotels-container" *ngIf="hotels.length == 0">
    <h3>No hay resultados para la busqueda.</h3>
  </div>
</section>
